<script>
	import { get } from '../utils/api';
	import Select from 'svelte-select';
	import { onMount } from 'svelte';
	import Button from '../components/Button.svelte';
	import * as api from '../utils/api';
	import Header from '../components/Header.svelte';

	let products;
	let menus;
	let responses;
	let greetings;
	let details;

	let currentKey = '';
	let filteredElements = Promise.resolve([]);
	let productMap;

	async function getProducts() {
		if (products !== undefined) {
			return products;
		}
		const { _, json } = await get('product');
		products = json.data;
		return products;
	}

	async function getMenus() {
		if (menus !== undefined) {
			return menus;
		}
		const { _, json } = await get('product/menu');
		menus = json.data;
		return menus;
	}

	async function getResponses() {
		if (responses !== undefined) {
			return responses;
		}
		const { _, json } = await get('product/responses');
		responses = json.data;
		return responses;
	}

	async function getGreetings() {
		if (greetings !== undefined) {
			return greetings;
		}
		const { _, json } = await get('product/greetings');
		greetings = json.data;
		return greetings;
	}

	async function getDetails() {
		if (details !== undefined) {
			return details;
		}
		const { _, json } = await get('product/details');
		details = json.data;
		return details;
	}

	async function getValue(path) {
		const map = {
			'': getProducts,
			details: getDetails,
			greetings: getGreetings,
			menus: getMenus,
			responses: getResponses,
		};
		return map[path]();
	}

	async function mapProducts() {
		if (products === undefined) {
			await getProducts();
		}
		productMap = [];
		for (const product of products) {
			productMap.push({ value: product.pid, label: product.name });
		}
	}

	function handleProductClick(event) {
		filteredElements = getValue(currentKey).then((val) =>
			val.filter((r) => r.pid === event.detail.value)
		);
	}

	function handleTypeChange(event) {
		currentKey = event.target.value;
		filteredElements = Promise.resolve([]);
	}

	function handleSubmit() {
		const selectVal = document.getElementById('type').value;
		if (selectVal === '') {
			type = 'product';
		} else {
			type = selectVal;
		}
		const id = parseInt(document.getElementById('id').value);
		api
			.del('entity', { type, id }, 'query')
			.then((r) => console.log(r))
			.catch((err) => console.log(err));
	}

	const getText = (element) =>
		element.name ?? element.data ?? element.key ?? element.text;

	const getId = (element) =>
		currentKey == '' ? 'pid' : element[`${currentKey.charAt(0)}id`];

	onMount(mapProducts);
</script>

<Header heading="Choose entity to be deleted" />

<div id="input-menu">
	<div class="input">
		<label for="type">Type: </label><select
			on:change={handleTypeChange}
			id="type"
		>
			<option value="">Product</option>
			<option value="details">Details</option>
			<option value="greetings">Greetings</option>
			<option value="menus">Menus</option>
			<option value="responses">Responses</option>
		</select>
	</div>

	<Select
		placeholder="Choose Product"
		items={productMap}
		on:select={handleProductClick}
	/>

	<div class="input">
		<label for="id">Entity: </label><select name="id" id="id">
			{#await filteredElements then val}
				{#each val as element}
					<option value={element[getId(element)]}>{getText(element)}</option>
				{/each}
			{/await}
		</select>
	</div>
	<Button caption="Delete" color="danger" on:click={handleSubmit} />
</div>

<style>
	.input {
		margin: 20px 0px;
	}
	#input-menu {
		width: 100%;
		max-width: 50%;
		padding: 15px;
		margin: auto;
	}
</style>
