<script>
	import Card from '../components/Card.svelte';
	import Header from '../components/Header.svelte';
</script>

<Header heading="Welcome!" />
<div class="row w-75 h-75 mx-auto my-5 align-items-center">
	<Card header="View Products" href="/#/products" caption="VIEW">
		View all products to our list
	</Card>
	<Card header="Add Products" href="/#/add-product" caption="ADD"
		>Add more products to our list
	</Card>
	<Card header="Delete Products" href="/#/delete-product" caption="DELETE"
		>Delete products from our list
	</Card>
</div>
