<script>
	import { push } from 'svelte-spa-router';
	import TextInput from '../components/TextInput.svelte';
	import Button from '../components/Button.svelte';
	import { isEmpty } from '../utils/utils';
	import { User } from '../utils/store';
	import * as api from '../utils/api';

	let username = '';
	let password = '';

	let emailValid = false;
	let passwordValid = false;
	let formValid = false;
	let errorMessage = '';

	$: if (username || password) {
		errorMessage = '';
	}

	$: emailValid = !isEmpty(username);
	$: passwordValid = !isEmpty(password);
	$: formValid = emailValid && passwordValid;

	async function handleLogin() {
		try {
			const { response, json } = await api.post(
				'auth/token/',
				{
					username: username,
					password: password,
				},
				'formData'
			);

			if (response.ok) {
				User.login(json.access_token);
				push('/');
			} else throw response;
		} catch (error) {
			console.log(error);
			if (error.status === 500)
				errorMessage = 'Opps, something went wrong please try again later!';
			else errorMessage = 'Please enter a valid username or password';
		}
	}
</script>

<svelte:head>
	<title>Login</title>
</svelte:head>

<main class="form-signin text-center">
	<h2 class="mb-3 fw-normal">Login to Glass CryptoLabs</h2>
	<form on:submit|preventDefault={handleLogin} method="post">
		{#if errorMessage.length > 0}
			<p class="text-red p-2">{errorMessage}</p>
		{/if}
		<TextInput
			controlType="login"
			type="text"
			label="Username"
			id="username"
			placeholder="Username"
			value={username}
			on:input={(e) => {
				username = e.target.value;
			}}
			valid={emailValid}
			validityMessage="Please enter a valid username"
		/>
		<TextInput
			controlType="login"
			type="password"
			label="Password"
			id="password"
			placeholder="Password"
			value={password}
			on:input={(e) => {
				password = e.target.value;
			}}
			valid={passwordValid}
			validityMessage="Please enter a valid password"
		/>
		<Button type="submit" caption="Login" disabled={!formValid} />
	</form>
</main>

<style>
	.form-signin {
		width: 100%;
		max-width: 480px;
		padding: 15px;
		margin: auto;
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
</style>
