<script>
	import NProgress from 'nprogress';
	import Header from '../components/Header.svelte';
	import Button from '../components/Button.svelte';
	import TextInput from '../components/TextInput.svelte';
	import TypeDropDown from '../components/TypeDropDown.svelte';
	import { post } from '../utils/api';
	import { range } from '../utils/range';
	import { push } from 'svelte-spa-router';
	import { onMount } from 'svelte';

	NProgress.configure({
		minimum: 0.16,
		showSpinner: false,
	});

	let responseCount = [1];
	let productId;

	function addMenu() {
		responseCount.push(1);
		responseCount = responseCount;
	}

	function addResponse(menuIndex) {
		responseCount[menuIndex]++;
	}

	function removeResponse(menuIndex) {
		if (responseCount[menuIndex] > 1) {
			responseCount[menuIndex]--;
		} else {
			alert("You can't remove the last response!");
		}
	}

	function removeMenu() {
		if (responseCount.length > 1) {
			responseCount.pop();
			responseCount = responseCount;
		} else {
			alert('You must have at least one menu item');
		}
	}

	function verifyLink(string) {
		const pattern =
			/^https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)$/;
		return pattern.test(string);
	}

	function submit() {
		NProgress.start();
		const menus = [];
		const responses = [];
		for (let i = 0; i < responseCount.length; i++) {
			const menuTitle = document.getElementById(`menu-${i}`).value;
			if (menuTitle === '') {
				continue;
			}
			let isEmptyResposes = true;
			const menuResponses = [];
			for (let j = 0; j < responseCount[i]; j++) {
				const responseText = document.getElementById(`resp-${i}-${j}`).value;
				const responseType = document.getElementById(`type-${i}-${j}`).value;
				if (responseText === '') {
					continue;
				}
				if (['image', 'link', 'video'].includes(responseType)) {
					if (!verifyLink(responseText)) {
						alert(`Invalid link for question ${i + 1}, response ${j + 1}`);
						return;
					}
				}
				isEmptyResposes = false;
				menuResponses.push({
					pid: productId,
					prio: j,
					data: responseText,
					type: responseType,
				});
			}
			if (!isEmptyResposes) {
				menus.push({ text: menuTitle, id: i, pid: productId });
				responses.push(menuResponses);
			} else {
				alert('Atleast one response must be present for menu items');
			}
		}
		const promises = [];
		let menuIndex = 0;
		for (const menu of menus) {
			promises.push(
				post('product/menu', menu, 'query')
					.then((res) => {
						for (let resp of responses[menuIndex]) {
							resp['qid'] = res.json[0].mid;
							const { response, _ } = post('product/responses', resp, 'query');
						}
						menuIndex++;
					})
					.catch((err) => alert(`Error ${err}`))
			);
		}
		NProgress.done();
		alert('Product Successfully added');
		push('/');
	}

	onMount(() => {productId = localStorage.getItem("pid")})
</script>

<svelte:head>
	<title>Menu & Response</title>
</svelte:head>

<Header heading="Enter Menu Items and Responses" />

<ul class="form-menu">
	{#each range(responseCount.length) as i}
		<li class="form-input">
			<TextInput
				label="Question"
				id="menu-{i}"
				placeholder="Enter Menu Question"
				controlType="text"
			/>
			<br />
			<ul class="form-response left">
				{#each range(responseCount[i]) as j}
					<li class="form-response-field">
						<TextInput
							controlType="textarea"
							rows="5"
							id="resp-{i}-{j}"
							class="responses"
							placeholder="Enter Response"
							label="Response"
							type="text"
						/>
						<label for="type">Type: </label><TypeDropDown id="type-{i}-{j}" />
					</li>
				{/each}
				<br />
				<li>
					<div class="button">
						<div class="button-child">
							<Button
								on:click={() => addResponse(i)}
								caption="Add new response"
							/>
						</div>
						<div class="button-child">
							<Button
								on:click={() => removeResponse(i)}
								caption="Remove response"
								color="danger"
							/>
						</div>
					</div>
				</li>
			</ul>
		</li>
	{/each}
	<li>
		<div class="button">
			<div class="button-child">
				<Button on:click={addMenu} caption="Add new question" />
			</div>
			<div class="button-child remove-btn">
				<Button
					on:click={removeMenu}
					color="danger"
					caption="Delete question"
				/>
			</div>
		</div>
	</li>
	<Button on:click={submit} caption="Submit" />
</ul>

<style>
	.remove-btn {
		cursor: pointer;
	}
	ul,
	li {
		list-style: none;
		display: block;
	}
	.form-menu {
		width: 100%;
		max-width: 50%;
		padding: 15px;
		margin: auto;
	}
	.button-child {
		flex: 1;
		margin-right: 10px;
	}
	.button {
		width: 100%;
		display: flex;
		flex-direction: row;
		margin-bottom: 25px;
	}

	.form-input {
		margin: 50px;
	}
</style>
