<script>
	import { onMount } from 'svelte';
	import { push } from 'svelte-spa-router';
	import Card from '../components/Card.svelte';

	import Header from '../components/Header.svelte';
	import { get } from '../utils/api';

	let products;
	onMount(getProducts);

	async function getProducts() {
		const { response, json } = await get('product');

		if (response.status === 401) {
			push('/login');
		}

		products = await json.data;

		products.forEach((item) => {
			localStorage.setItem(item.pid, JSON.stringify(item));
		});
	}
</script>

<Header heading="All Products" />
<div class="row w-75 h-75 mx-auto align-items-center">
	{#if products}
		{#each products as product}
			<Card header={product.name} href="/#/product/{product.pid}">
				Batch No: {product.batch}
				<br />
				Product ID: {product.pid}
				<br />
				Producer: {product.producer}
				<br />
			</Card>
		{/each}
	{/if}
</div>
