<script>
	import NProgress from 'nprogress';
	import TextInput from '../components/TextInput.svelte';
	import Button from '../components/Button.svelte';
	import TypeDropDown from '../components/TypeDropDown.svelte';
	import { put, post, getAbsPath } from '../utils/api';
	import { isHexVaild, isEmpty } from '../utils/utils';
	import { push } from 'svelte-spa-router';
	import Header from '../components/Header.svelte';

	let name = '',
		prod_id = '',
		unit_img = null,
		producer = '',
		prod_seal = null,
		batch = '',
		accent = '',
		desc = '',
		greeting_data = '',
		greeting_priority = '',
		greeting_type = '';

	let accentValid = false;
	let formValid = false;

	$: accentValid = isHexVaild(accent);
	$: formValid =
		isEmpty(name) &&
		isEmpty(producer) &&
		isEmpty(batch) &&
		isEmpty(accent) &&
		isEmpty(desc) &&
		isEmpty(greeting_data) &&
		isEmpty(greeting_priority) &&
		isEmpty(greeting_type);

	let load_id = 'product_img';

	function loadFile(e) {
		var image = document.getElementById(load_id);
		image.src = URL.createObjectURL(e.target.files[0]);
		load_id = 'logo_output';
		// validateSize();
	}

	//to validate the size of the file
	function validateSize(id) {
		const fi = document.getElementById(id);
		// Check if any file is selected.
		if (fi.files.length > 0) {
			for (const i = 0; i <= fi.files.length - 1; i++) {
				const fsize = fi.files.item(i).size;
				const file = Math.round(fsize / 1024);
				// file> 1GB?
				if (file >= 1024000)
					alert('File too Big, please select a file less than 1GB');
				else {
					//display size
					if (id === 'unit_img')
						document.getElementById(unit_img_size).innerHTML =
							'<b>' + file + '</b> KB';
					else
						document.getElementById(logo_size).innerHTML =
							'<b>' + file + '</b> KB';
				}
			}
		}
	}

	//to create auto-expand text area
	var autoExpand = function (field) {
		field.style.height = 'inherit';
		var computed = window.getComputedStyle(field);
		var height =
			parseInt(computed.getPropertyValue('border-top-width'), 10) +
			parseInt(computed.getPropertyValue('padding-top'), 10) +
			field.scrollHeight +
			parseInt(computed.getPropertyValue('padding-bottom'), 10) +
			parseInt(computed.getPropertyValue('border-bottom-width'), 10);

		field.style.height = height + 'px';
	};

	document.addEventListener(
		'input',
		function (event) {
			if (event.target.tagName.toLowerCase() !== 'textarea') return;
			autoExpand(event.target);
		},
		false
	);

	function showError(error) {
		console.log(error);
		if (error.status === 500)
			alert('Opps, something went wrong please try again later!');
		else alert(`${error}, Please enter valid details`);
		NProgress.done();
	}

	function handleSubmit() {
		NProgress.start();
		Promise.all([
			put("files", {files: document.getElementById("unit_img").files[0]}, "formData"),
			put("files", {files: document.getElementById("logo").files[0]}, "formData"),
		]).then(file_urls => {
			post(
				'product',
				{
					name: name,
					prod_id: prod_id,
					unit_img: getAbsPath(file_urls[0]),
					prod_seal: getAbsPath(file_urls[1]),
					producer: producer,
					batch: batch,
					accent: accent,
					desc: desc,
				},
			).then(({response, json}) => {
				if (!response.ok) {
					throw new Error("Product creation failed");
				}
				post(
					'product/greetings',
					{
						pid: json.pid,
						data: greeting_data,
						prio: greeting_priority,
						type: document.getElementById("greeting_type").value,
					},
					'query'
				).then(({response, _}) => {
					if (!response.ok) {
						throw new Error("Adding greeting failed");
					}
					localStorage.setItem("pid", json.pid)
					push("/menu");
					NProgress.done();
				}).catch(err => showError(err, "Adding greeting failed"));
			}).catch(err => showError(err, "Adding product failed"))
		}).catch(err => showError(err, "Image Upload Failed"))
	}
</script>

<Header heading="Product and Greeting Details" />
<form on:submit|preventDefault={handleSubmit} method="post">
	<TextInput
		label="Product Name"
		placeholder="Product Name"
		id="name"
		value={name}
		on:input={(e) => {
			name = e.target.value;
		}}
		valid={!isEmpty(name)}
		validityMessage="Please enter the Product Name"
	/>
	<TextInput
		label="Product ID"
		placeholder="Product ID"
		id="id"
		value={prod_id}
		on:input={(e) => {
			prod_id = e.target.value;
		}}
		valid={!isEmpty(prod_id)}
		validityMessage="Please enter the Product id"
	/>
	<label for="unit_img">Product/Unit Image (Max size:1 GB) </label>
	<br />
	<input
		on:change={loadFile}
		id="unit_img"
		type="file"
		placeholder="Product Image"
		accept=".jpg,.png,.gif,.jpeg"
		bind:value={unit_img}
	/>

	<span
		><p id="unit_img_size" />
		<img
			id="product_img"
			style="width:200px; height:200px;"
			alt="<product preview>"
		/>
	</span>
	<br />
	<br />

	<TextInput
		label=" Manufacturer"
		placeholder="Manufacturer"
		id="producer"
		value={producer}
		on:input={(e) => {
			producer = e.target.value;
		}}
		valid={!isEmpty(producer)}
		validityMessage="Please enter the Manufacturer Name"
	/>

	<label for="logo">Company Logo (Max size:1 GB)</label> <br />
	<input
		on:change={loadFile}
		type="file"
		id="logo"
		placeholder="Product Image"
		on:change={validateSize('logo')}
		accept=".jpg,.png,.gif,.jpeg"
		bind:value={prod_seal}
	/>
	<span
		><p id="logo_size" />
		<img
			id="logo_output"
			style="width:200px; height:200px;"
			alt="<logo preview>"
		/>
	</span>
	<br />
	<br />
	<TextInput
		label="Batch Number"
		placeholder="Batch Number"
		id="batch"
		value={batch}
		on:input={(e) => {
			batch = e.target.value;
		}}
		valid={!isEmpty(batch)}
		validityMessage="Please enter a valid batch number"
	/>

	<TextInput
		label="Accent (Hex Pattern)"
		placeholder="Accent color"
		id="accent"
		value={accent}
		on:input={(e) => {
			accent = e.target.value;
		}}
		valid={accentValid}
		validityMessage="Please enter a correct hexcode"
	/>
	<TextInput
		controlType="textarea"
		label="Product Description"
		id="desc"
		rows="5"
		value={desc}
		on:input={(e) => {
			desc = e.target.value;
		}}
		valid={!isEmpty(desc)}
		validityMessage="Please enter a valid description"
	/>

	<TextInput
		controlType="textarea"
		rows="2"
		label="Greeting Data"
		id="greeting_data"
		value={greeting_data}
		on:input={(e) => {
			greeting_data = e.target.value;
		}}
		valid={!isEmpty(greeting_data)}
		validityMessage="Please enter a valid greeting message"
	/>

	<TextInput
		type="number"
		label="Greeting Priority"
		placeholder="Greeting Priority"
		id="greeting_priority"
		value={greeting_priority}
		on:input={(e) => {
			greeting_priority = e.target.value;
		}}
		valid={!isEmpty(greeting_priority)}
		validityMessage="Please enter a valid  priority"
	/>

	Greeting Type <br />
	<TypeDropDown name="greeting_type" id="greeting_type" value={greeting_type} />
	<Button disabled={formValid} caption="Submit" type="submit" />
</form>

<style>
	form {
		width: 100%;
		max-width: 50%;
		padding: 15px;
		margin: auto;
	}
	input {
		margin: 10px 0px 10px 0px;
	}
</style>
