<script>
	import Header from '../components/Header.svelte';
	import { onMount } from 'svelte';
	import { get } from '../utils/api';

	export let params = {};

	let product;
	let details;
	let greetings;
	let menu;
	let responses;

	onMount(async () => {
		await getProducts();
		await getDetails();
		await getMenu();
		await getResponses();
		await getGreetings();
	});

	async function getProducts() {
		product = JSON.parse(localStorage.getItem(params.pid));
	}

	async function getDetails() {
		const { _, json } = await get(`product/details?pid=${params.pid}`);
		details = json.data;
		return details;
	}

	async function getGreetings() {
		const { _, json } = await get(`product/greetings?pid=${params.pid}`);
		greetings = json.data;
		return greetings;
	}

	async function getMenu() {
		const { _, json } = await get(`product/menu?pid=${params.pid}`);
		menu = json.data;
		return menu;
	}

	async function getResponses() {
		const { _, json } = await get(`product/responses?pid=${params.pid}`);
		responses = json.data;
		return responses;
	}
</script>

{#if product}
	<Header heading={product.name + ' : ' + product.pid} />
	<div class="row w-50 h-75 mx-auto my-5 align-items-center">
		<p>
			Crystal : {product.crystal}
		</p>
		<p>
			producer : {product.producer}
		</p>
		<p>
			batch : {product.batch}
		</p>
		<p>
			prod_seal : {product.prod_seal}
		</p>
		<p>
			accent : {product.accent}
		</p>
		<p>
			desc : {product.desc}
		</p>
		Details:
		{details}
		<br />
		Greetings:
		{greetings}
		<br />
		Menu:
		{menu}
		<br />
		Responses:
		{responses}
	</div>
{/if}
