<script>
	export let type = 'button';
	export let caption;
	export let href = null;
	export let disabled = false;
	export let pos = '';
	export let color = '';
</script>

{#if href}
	<a {href}><button class="btn btn-secondary">{caption}</button></a>
{:else}
	<button
		class="btn btn-lg"
		class:w-100={pos !== 'top'}
		class:btn-secondary={color === ''}
		class:btn-danger={color === 'danger'}
		on:click
		{type}
		{disabled}>{caption}</button
	>
{/if}
