<script>
	export let header;
	export let caption = 'VIEW';
	export let href;

	import Button from './Button.svelte';
</script>

<div class="col-sm-4 mt-5">
	<div class="card mb-3 bg-light">
		<div class="card-header">{header}</div>
		<div class="card-body">
			<p class="card-text">
				<slot />
			</p>
			<Button {caption} {href} />
		</div>
	</div>
</div>
