<script>
	import { onMount } from 'svelte';
	import { push } from 'svelte-spa-router';

	import { User } from '../utils/store';
	import Button from '../components/Button.svelte';

	export let heading;

	onMount(async () => {
		if (!localStorage.getItem('token')) {
			push('/login');
		}
	});

	function logoutHandler() {
		User.logout();
		push('/login');
	}
</script>

<Button caption="Home" pos="top" href="/" />

<nav class="navbar navbar-light">
	<h1 class="text-center">{heading}</h1>
	<Button type="submit" caption="Logout" pos="top" on:click={logoutHandler} />
</nav>

<style>
	nav {
		width: 60%;
		padding: 15px;
		margin: 15px auto;
	}
</style>
