<script>
	export let controlType = '';
	export let id;
	export let label;
	export let placeholder = '';
	export let type = 'text';
	export let value = null;
	export let rows = null;
	export let valid = true;
	export let validityMessage;
	let touched = false;
</script>

{#if controlType === 'login'}
	<div class="form-floating">
		<input
			{type}
			class="form-control"
			class:border-danger={!valid && touched}
			{id}
			{placeholder}
			{value}
			on:input
			on:blur={() => (touched = true)}
			style="min-width:310px;
			max-width:fit-content;"
		/>
		<label for={id}>{label}</label>
	</div>
{:else}
	<div class="form-group input">
		<label for={id}>{label}</label>
		{#if controlType == 'textarea'}
			<textarea
				class="form-control"
				class:border-danger={!valid && touched}
				{id}
				{rows}
				{value}
				on:input
				on:blur={() => (touched = true)}
			/>
		{:else}
			<input
				{type}
				class="form-control"
				class:border-danger={!valid && touched}
				{id}
				{placeholder}
				{value}
				on:input
				on:blur={() => (touched = true)}
			/>
		{/if}
	</div>
{/if}
{#if validityMessage && !valid && touched}
	<p class="text-danger">{validityMessage}</p>
{/if}

<style>
	.input {
		margin: 15px 0;
	}
</style>
