<script>
	export let name = '';
	export let id = '';
	export let classNames = '';
	export let value = null;
</script>

<select
	{name}
	{id}
	class={classNames}
	{value}
	style="margin: 10px 0px 10px 0px;
         width:100px;
        text-indent:10%;
        padding:10px;"
>
	<option value="text">Text</option>
	<option value="image">Image</option>
	<option value="video">Video</option>
	<option value="link">Link</option>
</select>
